body {
  margin: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, #root1, #root2 {
  position: relative;
}

/**
 * Component 2 styles:
 */
path {
  stroke: gray;
  stroke-width: 2px;
}

.tick {
  font-size: 14px;
}

#popup {	
  position: absolute;			
  text-align: left;			
  max-width: 100px;	
  max-height: 120px;					
  padding: 5px 7px;				
  font: 12px sans-serif;		
  background: #c9c9c9;
  border: 0px;		
  border-radius: 5px;			
  pointer-events: none;			
}

#alertDiv {
  text-align: center;
  top: 15%;
  left: 5%;
  position: absolute;
  width: 350px;	
  max-height: 100px;
  padding: 20px 30px;				
  font: 17px "Arial";
  font-weight: bold;
  color: rgb(129, 25, 25);
  border: 0.2px solid rgb(255, 204, 204);
  background: rgba(248, 198, 198, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.timeline-label {
  font-size: 13px;
  text-align: right;
}
.component2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#zoomDiv {
  top: 2%;
  left: 45%;
  position: absolute;
}
.zoom-icons {
  padding: 5px;
  font-size: 19px;
  color: #3f3f3f;
}
.zoom-icons:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
}
.fa-search-minus,
.fa-search-plus,
.fa-redo,
.fa-chevron-circle-left,
.fa-chevron-circle-right {
  opacity: 0.4;
}

#filter {
  background: rgba(245, 245, 245, 0.95);
  max-width: 180px;
  height: 140px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  top: 2.5%;
  left: 100px;
  position: absolute;
}

#filterBtn {
  top: 2%;
  left: 100px;
  position: absolute;
}
#filterBtn:hover,
#recoveryBtn:hover,
#submitBtn:hover {
  background-color: rgb(238, 238, 238);
}
#recoveryBtn {
  top: 2%;
  left: 150px;
  position: absolute;
  opacity: 0.4;
}
#recoveryBtn1 {
  top: 0;
  right: 5px;
  color: #3f3f3f;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
}
#recoveryBtn1:hover {
  color: black;
}
#filterBtn, 
#recoveryBtn,
#submitBtn {
  background: rgb(221, 221, 221);
  border-radius: 4px;
}

#timeSelectBtn {
  margin: 5px;
  width: 175px;
}
#prioritySelectBtn {
  float: right;
  height: 87px;
  margin-left: 35px;
  margin-top: 5px;
  width: 60px;
  text-align: center;
}
#prioritySelectBtn::-webkit-scrollbar {display:none;}
#prioritySelectBtn::-moz-scrollbar {display:none;}
#prioritySelectBtn::-o-scrollbar {display:none;}
#prioritySelectBtn::-google-ms-scrollbar {display:none;}
#prioritySelectBtn::-khtml-scrollbar {display:none;}
#stateSelectBtn {
  float: left;
  height: 87px;
  margin-left: 5px;
  margin-top: 5px;
}
#stateSelectBtn::-webkit-scrollbar {display:none;}
#stateSelectBtn::-moz-scrollbar {display:none;}
#stateSelectBtn::-o-scrollbar {display:none;}
#stateSelectBtn::-google-ms-scrollbar {display:none;}
#stateSelectBtn::-khtml-scrollbar {display:none;}
#submitBtn {
  margin-left: 70px;
  margin-top: 5px;
}

/**
  * Component 3 styles:
  */
.component3 div {
  padding: 12px 20px;	
  margin: 13px;			
  font-size: 17px;
  font-family: 'Space Grotesk', sans-serif;
  border: 0.2px solid rgb(116, 116, 116);
  background: rgb(204, 204, 204);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.component3 p {
  margin: 0;
}

.component3 {
  margin-top: 20px;
  scroll-behavior: smooth;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0 1px 6px;
  box-shadow: 1.3px 1px 0 0 rgba(0, 0, 0, 0.2);
}

#moreBtn,
#prevBtn {
  margin: 0 0 10px 45%;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: rgb(18, 18, 104);
  border: 0;
  border-bottom: 2.3px solid rgb(18, 18, 104);
  background: none;
}

#moreBtn:hover,
#prevBtn:hover {
  text-shadow: 0.5px 0px #3f3f3f;
}

ul {
  margin: 0;
}

.component3 img {
  margin: 10px 40px;
  display: block;
}

/**
 * Roots for nivo charts styling
 */
#nivoGraphs {
  display: flex;
}

#root3 {
  height: 300px;
  flex: 60%;
  background-color: white;
}
#root4 {
  height: 300px;
  flex: 40%;
  background-color: white;
}